.zems_slider {
    width: 620px; /* Adjust as needed */
    overflow: hidden;
    position: relative;
    background-color: #d2e7eb;
    border: 5px solid #d2e7eb;
    .zems_slider_container {
        display: flex;
        width: max-content;
        transition: transform 0.3s ease-in-out;
        .zems_slide {
            width: 200px; 
            height: 200px; 
            background-color: #ebd2d2;
            border: 1px saddlebrown solid;
            // margin-right: 10px; 
        }
    }
      
    .zems_slide_pager{
        list-style: none;
        padding-left: 0;
        display: flex;
        li{
            margin: 5px;
            padding: 5px;
            border-radius: 50%;
            border: 1px solid red; 
        }
    }
    .zems_control{
        // position: relative;
        padding: 5px;
        border: 1px solid red;
    }
    .prev-btn, .next-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        background: none;
        border: none;
        font-size: 20px;
        z-index: 55;
    }
    
    .prev-btn {
        left: 10px;
    }
    
    .next-btn {
        right: 10px;
    }
}

